* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.image {
  position: absolute;
  height: 850px;
  overflow: hidden;
  background: transparent;
}

.navbar {
  background-color: antiquewhite;
}
nav {
  
  position: relative;
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;

}

nav div {
  
  display: flex;
width: 90px;
justify-content: space-between;
align-items: center;
}

div h1, h2 {
  color: rgb(25, 134, 230);
}

ul {
  margin-left: 680px;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
}

li {
  text-decoration: none;
  list-style: none;
  width: 130px;
  justify-content: space-around;
  font-size: larger;
  flex-grow: 1;
  color: rgb(233, 226, 226);
}

li a {
color: rgb(9, 9, 220);
text-decoration: none;
}

/* nav h1 {
font-family: Georgia, 'Times New Roman', Times, serif;
display: flex;
align-items: center;
} */
